{% extends 'index.html' %}
{% block title %}edit_author{% endblock %}
{% block table %}
    <div class="col-md-6 col-md-offset-3">
        <form class="form-horizontal" action="/editauthor/" method="post">
            {% csrf_token %}
            <div class="form-group">
                    <p><input type="hidden" name="id" value="{{ edit_author.id }}"></p>

                <label for="inputname3" class="col-md-2 control-label">name</label>
                <div class="col-md-10">
                    <input type="text" name="name" value="{{ edit_author.name }}" class="form-control" id="inputname3" placeholder="name">
                </div>
            </div>
            <div class="form-group">
                <label for="inputage3" class="col-md-2 control-label">age</label>
                <div class="col-md-10">
                    <input type="text" name="age" value="{{ edit_author.age }}" class="form-control" id="inputage3" placeholder="age">
                </div>
            </div>

            <p><input type="submit"></p>


        </form>
    </div>
{#<form action="/edit/" method="post">#}
{#    {% csrf_token %}#}
{#    <p><input type="hidden" name="book_id" value="{{ edit_book.nid }}"></p>#}
{#    <p>书名 <input type="text" name="title" value="{{ edit_book.title }}"></p>#}
{#    <p>作者 <input type="text" name="author" value="{{ edit_book.author }}"></p>#}
{#        <p>价格 <input type="text" name="price" value="{{ edit_book.price }}"></p>#}
{#    <p>出版日期 <input type="date" name="pubdate" value="{{ edit_book.publish_date|date:'Y-m-d' }}"></p>#}
{##}
{#    <p> <input type="submit"></p>#}
{#</form>#}
{% endblock table %}