<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}login{% endblock %}</title>
    <link rel="stylesheet" href="/static/bootstrap-3.3.7-dist/css/bootstrap.css">
    <!-- 为使用方便，直接使用jquery.js库，如您代码中不需要，可以去掉 -->
    <script src="/static/jquery-3.2.1.min.js"></script>
    <!-- 引入封装了failback的接口--initGeetest -->
    <script src="http://static.geetest.com/static/tools/gt.js"></script>

    <style>

        h3 {
            color: red;
        }

        .container {
            padding-top: 100px;
        }


    </style>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 popup">
            {% block form %}
                <h3>{{ info }}</h3>
                <form class="form-horizontal" method="post">
                    {% csrf_token %}
                    <div class="form-group">

                        <label for="inputusername3" class="col-sm-2 control-label">username</label>
                        <div class="col-sm-10">
                            <input name="username" type="text" class="form-control" id="username"
                                   placeholder="username">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
                        <div class="col-sm-10">
                            <input name="password" type="password" class="form-control" id="password"
                                   placeholder="Password">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox"> Remember me
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <input id="subBtn" type="button" class="btn btn-primary" value="&nbsp;&nbsp;登录&nbsp;&nbsp;">
                            <div><a href="/reg/">没有账号？点我注册>>>></a></div>
                        </div>
                    </div>

                    <div id="popup-captcha"></div>

                </form>
            {% endblock form %}
        </div>
    </div>
</div>


<script>
    var handlerPopup = function (captchaObj) {
        // 成功的回调
        captchaObj.onSuccess(function () {
            var validate = captchaObj.getValidate();
            $.ajax({
                url: "/pc-geetest/ajax_validate", // 进行二次验证
                type: "post",
                dataType: "json",
                data: {
                    username: $('#username').val(),//需自己得到
                    password: $('#password').val(),//需自己得到
                    csrfmiddlewaretoken: $("[name='csrfmiddlewaretoken']").val(),
                    geetest_challenge: validate.geetest_challenge,
                    geetest_validate: validate.geetest_validate,
                    geetest_seccode: validate.geetest_seccode
                },
                success: function (data) {

                    console.log(data);


                    var response = data;
                    if (response["is_login"]) {

                        location.href = "/"//跳转到首页


                    }
                    else {
                        $(".error").html(response["error_msg"]).css("color", "red")
                    }


                }
            });
        });
        $("#subBtn").click(function () {
            captchaObj.show();//验证码出现
        });
        // 将验证码加到id为captcha的元素里
        captchaObj.appendTo("#popup-captcha");
        // 更多接口参考：http://www.geetest.com/install/sections/idx-client-sdk.html
    };
    // 验证开始需要向网站主后台获取id，challenge，success（是否启用failback）
    //照搬照抄就行
    $.ajax({
        url: "/pc-geetest/register?t=" + (new Date()).getTime(), // 加随机数防止缓存
        type: "get",
        dataType: "json",
        success: function (data) {
            // 使用initGeetest接口
            // 参数1：配置参数
            // 参数2：回调，回调的第一个参数验证码对象，之后可以使用它做appendTo之类的事件
            initGeetest({
                gt: data.gt,
                challenge: data.challenge,
                product: "popup", // 产品形式，包括：float，embed，popup。注意只对PC版验证码有效
                offline: !data.success // 表示用户后台检测极验服务器是否宕机，一般不需要关注
                // 更多配置参数请参见：http://www.geetest.com/install/sections/idx-client-sdk.html#config
            }, handlerPopup);
        }
    });
</script>

</body>
</html>